@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

.login-selection-root {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  background: #111C27;
  position: fixed;
  top: 0;
  left: 0;
}

.login-selection-header {
  display: flex;
  width: 100%;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #E5E8EB;
}

.login-selection-header span {
  color: #FFF;
  font-family: 'Be Vietnam Pro', -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}

.login-selection-content {
  display: flex;
  flex: 1;
  padding: 20px 160px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.login-selection-buttons {
  display: flex;
  /* width: 960px;
  max-width: 960px; */
  flex-direction: column;
  align-items: center;
  gap: 13.951px;
  /* padding: 285px 255.87px 299.951px 256px; */
}

.login-selection-btn {
  /* display: flex; */
  width: 448px;
  min-width: 160px;
  height: 56px;
  padding: 16px;
  align-items: center;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid #21364A;
  background: #21364A;
  cursor: pointer;
  transform: rotate(0.134deg);
  transition: background-color 0.2s ease;
}

.login-selection-btn:hover {
  background: #2D4A63;
  border-color: #2D4A63;
}

.login-selection-btn:active {
  background: #1A2B3A;
  border-color: #1A2B3A;
}

.login-selection-btn {
  /* flex: 1 0 0; */
  color: #FFF;
  text-align: center;
  font-family: 'Be Vietnam Pro', -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  outline: none;
}
